.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 1fr));  
  grid-template-rows: repeat(3, minmax(90px, 1fr));     
  gap: 24px;                                
  justify-content: center;                 
  align-content: center;                   
  padding: 2rem;
  margin: 0 auto;
  min-height: 100vh;                        
}
.gallery-item {
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 12px;
  aspect-ratio: 1/1;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
}

