.gamehub {
  position: relative;
  width: 100%;
  height: 100%;
}

.penalty-timer {
    color: red;
    font-size: 80px;
}

body {
  font-family: "Rubik", sans-serif;
}

.time-remaining {
    font-size: 40px;
    color: #3e3e3e;
}
.back-button {
  position: fixed;
  top: 32px;
  left: 32px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #00440e;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}


