.gamehub {
  position: relative;
  width: 100%;
  height: 100%;
}

.penalty-timer {
    color: red;
    font-size: 80px;
}

body {
  font-family: "Rubik", sans-serif;
   font-weight: 10000;
}

.time-remaining {
    font-size: 40px;
    color: #3e3e3e;
}
.back-button {
  position: fixed;
  margin-top: 20px;
  margin-right: 200px;
  font-size: clamp(24px, 3vw, 32px);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  z-index: 1000;
  padding: 4px;
}
