.gamehub {
  position: relative;
  width: 100%;
  height: 100%;
}
.penalty-timer {
  color: #f44336;
  font-size: 120px;
  font-weight: 700;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    /* transform: scale(1); */
    opacity: 1;
  }
  50% {
    /* transform: scale(1.1); */
    opacity: 0.5;
  }
  100% {
    /* transform: scale(1); */
    opacity: 1;
  }
}



body {
  font-family: "Rubik", sans-serif;
}

.time-remaining {
    font-size: 40px;
    color: #3e3e3e;

}
.back-button {
  position: fixed;
  top: 32px;
  left: 32px;
   width: 3rem;
    height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #00440e;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.timer-top-right {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #00440e;
  color: #fff;
  border-radius: 8px;
  z-index: 1000;
    width: 3rem;
    height: 3rem;
}

.top-controls {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.skip-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.skip-button:hover {
  background-color: #d32f2f;
}
