.definition-game {
  text-align: center;
  font-family: sans-serif;
}

.definition-text {
  margin-bottom: 16px;
}

.word-input-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  outline: none;
  justify-content: center;
}

.letter-box {
  width: 50px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #aaa;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.letter-box.active {
  border-color: #3b82f6;
}

.letter-box.locked {
  border-color: #10b981;
  background-color: #a7f3d0;
}

.result-text {
  margin-top: 12px;
  font-weight: bold;
}
