.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}

.math-input {
  width: 100px;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;
  appearance: textfield;
  -moz-appearance: textfield;
  background: #eef9da;
}

/* Removes spinner arrows in Chrome, Edge, and Safari */
.math-input::-webkit-inner-spin-button,
.math-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
