#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 10000;
}

body.home-bg {
  background-color: #d2f78d;
}

body.explore-bg {
  background-color: white;
}

body.profile-bg {
  background-color: white;
}

body.game-bg {
  background-color: rgb(222, 222, 222);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}
